{{ partial "save.html" }}

<style>
    body{ margin:0px; background:rgb(142, 114, 218); }
    #bg_container{ height:500px; overflow:hidden; }
    #bg{ position: fixed; right: 0; bottom: 0; opacity: 0.7; width:100%; height:100%; }
    #content{ position:relative; top:0px; color:#FFF; text-shadow:#000 2px 2px; }
    </style>
 
<body>
    <div id="bg_container">
        <iframe id="bg" src="https://sandbox.cables.gl/viewer/5c5cefda88d5bc526dca7749"></iframe>
      </div>
      
      <div id="content">


</body>